
.DS_Store

C:\Users\sbenchekroun\Desktop\programming\Fresh-Food-Finder-master\Fresh-Food-Finder-master\platforms\browser\cordova\node_modules\*
/C:\Users\sbenchekroun\Desktop\programming\Fresh-Food-Finder-master\Fresh-Food-Finder-master\platforms\browser\cordova\node_modules\cordova-serve\node_modules\compression\node_modules\accepts\node_modules\mime-types\HISTORY.md
C:\Users\sbenchekroun\Desktop\programming\Fresh-Food-Finder-master\Fresh-Food-Finder-master\platforms\browser\cordova\node_modules\cordova-serve\node_modules\compression\node_modules\accepts\node_modules\mime-types\HISTORY.md

/C:\Users\sbenchekroun\Desktop\programming\Fresh-Food-Finder-master\Fresh-Food-Finder-master\platforms\browser\cordova\*
C:\Users\sbenchekroun\Desktop\programming\Fresh-Food-Finder-master\Fresh-Food-Finder-master\platforms\browser\cordova\*

