
<div id="aboutView">
    <h2>Fresh Food Finder</h2>
    The <strong>Fresh Food Finder</strong> is the easiest way to locate farmers markets wherever you may be.  The Fresh Food Finder allows you to easily find farmers markets near your current location, or easily search for farmers markets within a state, city, or zipcode.
    <br/> <br/>
    All of the information displayed within the <strong>Fresh Food Finder</strong> is freely available from the <a href="javascript:openExternalURL('http://www.ams.usda.gov/AMSv1.0/farmersmarkets')">US Department of Agriculture</a> through <a href="javascript:openExternalURL('https://explore.data.gov/Agriculture/Farmers-Markets-Geographic-Data/wfna-38ey')">data.gov</a>.  This data set was last updated on April 25, 2012.  The Fresh Food Finder is not responsible for the quality or accuracy of this data. 
    <br/> <br/><br/><br/>
    <br/> <br/><br/><br/>
    <p2>Team Members</p2>
    <ul>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Salim Benchekroun</a></li>
            <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Onkar Kale</a></li>
            <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Uzma Basheer</a></li>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Pratik Gogia </a></li>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Rohit Menon </a></li>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Pooshan Vyas</a></li>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">Neil Lobo</a></li>
    </ul>

</div>